body
  margin: 0
  padding: 0
*
  color: #eee
  font-family: sans-serif

html
  background: #111216

.app
  display: flex
  flex-direction: column
  align-items: center
  border-radius: 2px
  overflow: hidden
  padding-bottom: 20px

.line-trough
  text-decoration: line-through

button,
input
  -webkit-app-region: no-drag
  padding: 0.3rem 1rem
  border-radius: 2px
  outline: none
  border: none
  user-select: none
  transition: background-color 200ms ease
  cursor: pointer
  position: relative

.inp
  background: #09e
  font-size: 1.5rem

input[type=time]
  font-weight: bold

input[type=time]::-webkit-datetime-edit-hour-field,
input[type=time]::-webkit-datetime-edit-minute-field,
input[type=time]::-webkit-datetime-edit-ampm-field
  border-radius: 5px

input[type=time]::-webkit-clear-button,
input[type=time]::-webkit-inner-spin-button,
  display: none

.disabled
  color: #555
  &-line
    background: #555
